@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}


.features {
    display: flex;
    text-align: center;
}

.block__picture {
    height: 60px;
    width: 60px;
    color:#e84545;
}